

/* Navigation bar */
.navbar {
    /*display: flex;
    justify-content: space-between; */
    padding: 40px;
}

.left-side {
    display: flex;
    justify-content: flex-start;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.navbar > .right-side > div {
    margin-right: 20px;
    font-size: 1em;
}

.navbar-link {
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; 
}   

.navbar-link a {
    color:rgb(21, 74, 154);
    text-decoration: none;
    transition: color 0.5s;    
}

.home-link {
    height:2px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.home-link a {
    color:rgb(21, 74, 154);
    text-decoration: none;
}
.navbar-link:hover {
    border-bottom: 1px solid #a4adb5;
}